html, body{
  background-color: black;
  color: white;
  margin: 0px;
}

.mititulo{
  background-color: green;
  color: white;
  text-align: center;
  padding: 50px;
  font-size: 35px;
}

.carta{
  width: 150px;
  position: relative;
  left: 100px;
  margin-left: -90px;
}

#player-cartas, #computer-cartas{
  height: 240px;
}